.aboutme {
    min-height: 100%;
    background-color: #111;

    .aboutme_header {
        font-family: $main-font;
        color: $text-color;
        padding: 2rem;
        font-size: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .aboutme_header_h1 {
            opacity: 0;
            transition: all 1s ease;
            transform: translateX(100rem);
        }

        .aboutmeWiem{
            opacity: 1;
            transform: translateX(0);
        }
    }

    .info {
        font-family: $main-font;
        color: $text-color;
        display: flex;
        height: 100%;
        
        .me{
            width: 100%;
            height: 100%;
            background-color: red;
        }

        .technologies {
            width: 100%;
            background-color: blue;
        }
    }

}