.contact {
  min-height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: $text-color;
  font-family: $main-font;
  overflow: hidden;

  header {
    padding: 2rem;
    font-size: 1.25rem;
    text-align: center;
  }

  .contactH1 {
    opacity: 0;
    transition: all 0.75s ease;
    transform: translateY(-250%);
  }

  .contactScrollY {
    opacity: 1;
    transform: translateY(0);
  }

  .contactList {
    width: 100%;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 5%;

    li {
      padding: 1rem 5rem 0.5rem 5rem;
      transition: 1s ease;
      position: relative;
      display: flex;
      overflow: hidden;

      a {
        color: $text-color;
        text-decoration: none;
        position: relative;
        z-index: 1;
      }
    }

    li::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 50%;
      background: linear-gradient(#00a3cc, #9800b3);
      animation: rotateBorder 4s linear infinite;
    }

    li::after {
      content: "";
      position: absolute;
      inset: 2px;
      border-radius: 10px;
      background-color: black;
    }

    li:hover {
      scale: 1.25;
    }

    li:nth-child(1) a:hover {
      color: #999;
    }

    li:nth-child(2) a:hover {
      color: #5865f2;
    }

    li:nth-child(3) a:hover {
      color: #0e76a8;
    }

    li:nth-child(4) a:hover {
      color: #999;
    }

    @keyframes rotateBorder {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    // #list1 {
    //   transform: translateY(250%);
    //   opacity: 0;
    // }

    // #list2 {
    //   transform: translateY(-250%);
    //   opacity: 0;
    // }

    // #list3 {
    //   transform: translateY(250%);
    //   opacity: 0;
    // }

    // #list4 {
    //   transform: translateY(-250%);
    //   opacity: 0;
    // }
  }
}

@media only screen and (max-width: 75rem) {
  .contactList {
    width: unset !important;
    flex-direction: column;

    li {
      margin: 2rem;
    }

    #list1 {
      transform: translateX(-250%);
      opacity: 0;
    }

    #list2 {
      transform: translateX(250%);
      opacity: 0;
    }

    #list3 {
      transform: translateX(-250%);
      opacity: 0;
    }

    #list4 {
      transform: translateX(250%);
      opacity: 0;
    }
  }
}
